<%- include('partials/header') -%>

<div class="flex flex-col items-center place-content-between">
    
    <h3 class="underline font-bold text-xlg tracking-wide">
        <%= user.userName %> Workouts
    </h3>

    <table class="table-fixed">
        <thead>
            <tr>
                <th class="w-1/3 px-4 py-2">Date</th>
                <th class="w-1/3 px-4 py-2">Exercise</th>
                <th class="w-1/3 px-4 py-2">Sets</th>
                <th class="w-1/3 px-4 py-2">Reps</th>
                <th class="w-1/3 px-4 py-2">Weight</th>
            </tr>
        </thead>
    <% for(var i=0; i<exercises.length; i++) {%>
            <tr>
                <td>
                    <a href="calendar/workout/<%= exercises[i]._id%>"><%= exercises[i].date %></a>
                </td>
                <td>
                    <a href="calendar/workout/<%= exercises[i]._id%>"><%= exercises[i].exercise %></a>
                </td>
                <td>
                    <a href="calendar/workout/<%= exercises[i]._id%>"><%= exercises[i].sets %></a>
                </td>
                <td>
                    <a href="calendar/workout/<%= exercises[i]._id%>"><%= exercises[i].reps %></a>
                </td>
                <td>
                    <a href="calendar/workout/<%= exercises[i]._id%>"><%= exercises[i].weight %></a>
                </td>
                <td>
                    <button>Delete</button>
                </td>
            </tr>
        <% } %>
    </table>

    <a href="/calendar/createWorkout"><button class="btn btn-primary w-36">Add Workout</button></a>

</div>

<%- include('partials/footer') -%>