<%- include('partials/header') -%>

    <div class="flex flex-col items-center place-content-between">
        
    <h1>Workouts</h1>
    <h2><%= user.userName %></h2>

    <% for(var i=0; i<exercises.length; i++) {%>
        <ul class="row list-unstyled">
            <li class="col-6 justify-content-between mt-5">
                <a href="calendar/workout/<%= exercises[i]._id%>">
                <h3><%= exercises[i].exercise %></h3>
                </a>
            </li>
        <% } %>
        </ul>

    <a href="/calendar/createWorkout"><button class="btn btn-primary w-36">Add Workout</button></a>

    </div>

<%- include('partials/footer') -%>