<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SweatMate</title>
    <link href="/public/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.4/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-teal-200 box-border h-screen flex flex-col place-items-center place-content-between">

    <nav class="flex w-screen justify-between py-2 px-5 text-black">
      
        <a class="text-lg font-bold" href="/home"><h1>Workout Log</h1></a>
  
        <ul class="flex gap-6 list-none font-medium w-72">
          <li><a href="/home">Home</a></li>
          <li><a href="/home/createWorkout">Add Workout</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
  
    </nav>

    <form method="GET" action="/home/workouts">
        <div class="flex flex-col items-center">
        <label for="date" class="input-group input-group-vertical m-2">
            <span>Workout Date</span>
            <input type="date" id="date" name="date" class="input input-bordered">
        </label>
        <button class="btn btn-primary w-36 mt-4">View Workouts</button>
        </div>
    </form>

<div class="flex flex-col items-center place-content-between ">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    
        <% if ( workouts.length > 0 ) {%>
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                    <h3 class="underline font-bold text-xlg tracking-wide">
                        <%= user.userName %> Workouts
                    </h3>
                </caption>
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr class="border text-center">
                        <th scope="col" class="px-6 py-3">Date</th>
                        <th scope="col" class="px-6 py-3"># of Exercises</th>
                        <th scope="col" class="px-6 py-3">Exercise</th>
                        <th scope="col" class="px-6 py-3">Sets</th>
                        <th scope="col" class="px-6 py-3">Reps</th>
                        <th scope="col" class="px-6 py-3">Weight</th>
                    </tr>
                </thead>
            <% for(var i=0; i<workouts.length; i++) {%>
                <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-3 text-center">
                        <a href="/home/workouts/post/<%= workouts[i]._id%>"><%= workouts[i].date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }); %></a>
                    </td>
                    <td class="px-6 py-3 text-center">
                        <a><%= workouts.length %></a>
                    </td>
                    <td class="px-6 py-3 text-center">
                        <a href="/home/workouts/post/<%= workouts[i]._id%>"><%= workouts[i].exercise %></a>
                    </td>
                    <td class="px-6 py-3 text-center">
                        <%= workouts[i].sets %>
                    </td>
                    <td class="px-6 py-3 text-center">
                        <%= workouts[i].reps %>
                    </td>
                    <td class="px-6 py-3 text-center">
                        <%= workouts[i].weight %> Lbs.
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>
        <% if ( workouts.length == 0 ) {%>
            <h3 class="text-center text-black bg-white p-5">You have not worked out today!</h3>
        <% } %>
    </div>
    
    <a href="/home/createWorkout"><button class="btn btn-primary w-36 mt-4">Add Workout</button></a>
</div>

<footer>
    <a href="https://www.DaveCodes.Tech"><p class="text-center text-black">©2023 DaveCodes.Tech</p></a>
</footer>
  
<script src="/public/js/workout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</body>
</html>