<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout Log</title>
    <link href="/public/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.4/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-teal-200 box-border h-screen flex flex-col place-items-center place-content-between">

    <nav class="flex w-screen justify-between py-2 px-5 text-black">
      
        <a class="text-lg font-bold" href="/home"><h1>Workout Log</h1></a>
  
        <ul class="flex gap-6 list-none font-medium w-72">
            <li><a href="/home">Home</a></li>
            <li><a href="/home/createWorkout">Add Workout</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
  
    </nav>

<h1>Workouts</h1>
    <h2><%= user.userName %></h2>

    <div class="flex flex-col items-center">
        <h3 class="">Completed Workouts</h3>
       
        <div class="stats-horizontal shadow">
  
            <div class='exercise stat flex flex-col items-center'>
                <div class="stat-title"><%= exercisePost.exercise %></div>
                    <div scope="row"><%= exercisePost.date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }); %></div>
                <div class="stat flex">
                    <div class="flex flex-col items-center">
                        <div class="stat-value"><%= exercisePost.reps %></div>
                        <div class="stat-desc">Reps</div>
                    </div>
                    <div class="flex flex-col items-center">
                        <div class="stat-value"><%= exercisePost.sets %></div>
                        <div class="stat-desc">Sets</div>
                    </div>
                    <div class="flex flex-col items-center">
                        <div class="stat-value"><%= exercisePost.weight %></div>
                        <div class="stat-desc">Weight</div>
                    </div>
                </div>
                    <div class="stat"><%= exercisePost.notes %></div>
            </div>
            <form
            action="/home/deleteWorkout/<%= exercisePost.id %>?_method=DELETE"
            method="POST"
            class="col-3">
                <button class="btn fa fa-trash" type="submit">Delete</button>
            </form>
    </div>

    <footer>
        <a href="https://www.DaveCodes.Tech"><p class="text-center text-black">©2023 DaveCodes.Tech</p></a>
    </footer>
      
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</body>
</html>